html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  @apply font-montserrat;
}

.ant-modal-root {
  .ant-modal-content {
    .ant-modal-footer .ant-btn + .ant-btn:not(.ant-dropdown-trigger) {
      color: $black;
    }
  }
}