.card-container {
  cursor: pointer;
  .card {
    text-align: left;
    text-decoration: none;
    border: 1px solid $white;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    min-height: 250px;

    h2 {
      margin: 0 0 1rem 0;
    }
  }

  .card:hover,
  .card:focus,
  .card:active {
    color: $blue;
    border-color: $blue;
  }
}
